@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --theme-color: #9bec00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f7faf5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
:root {
  --swiper-theme-color: #9bec00 !important;
}

.swiper-pagination-bullet {
  background: #a2ab9a;
  opacity: 0.5;
  gap: 15px;
}

.swiper-pagination-bullet-active {
  background: #9bec00 !important;
}

.swiper-button-prev,
.swiper-button-next {
  border: 1px solid #666;
  color: #a2ab9a;
  --swiper-navigation-size: 18px;
  padding: 15px;
  border-radius: 4px;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  top: 90% !important;
  z-index: 100;
}

.mySwiper .swiper-button-prev {
  left: 40% !important;
}
.mySwiper .swiper-button-next {
  right: 40% !important;
}

.mySwiper .swiper-wrapper {
  padding-bottom: 60px;
}

.dash-sidebar {
  position: fixed;
  left: 0;
}

.dash-sidebar.collapsed {
}
.dash-sidebar.collapsed nav {
  margin: 0;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}

.main-container {
  width: 80%;
  margin-left: auto;
  padding: 15px 30px;
}

.dash-sidebar-content {
  overflow-x: auto;
  height: 100vh;
}

.dash-item-active {
  color: var(--theme-color);
  position: relative;
}
.dash-item-active:before {
  content: "";
  width: 0.25rem;
  height: 2.5rem;
  background: var(--theme-color);
  position: absolute;
  left: -28px;
}

.dash-item {
  cursor: pointer;
}

.main-body {
  margin-top: 65px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #84cc16;
}

/* Tailwind custom styles or your global CSS */
.main-body {
  display: flex;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main-container {
  width: calc(100% - 85px); /* Adjust this based on collapsed sidebar width */
  margin-left: auto;
  padding: 15px 30px;
}

.sidebar-expanded + .main-container {
  width: calc(100% - 20%); /* Adjust this based on the expanded sidebar width */
}

/* Optionally, add styles for collapsed sidebar */
.sidebar-collapsed + .main-container {
  width: calc(
    100% - 85px
  ); /* Adjust this to match your collapsed sidebar width */
}

.header-collapse-menu {
  display: none;
}

.dash-sidebar {
  display: block;
}
.mobile-view {
  display: none;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.stop-label {
background: #FDE900;
border-radius: 4px;
padding: 20px;
height: 60px;
display: flex;
align-items: center;
justify: center;
width: 140px;
position: absolute;
left: 0;
right:0;
top:0;
bottom:0;
margin:auto;
text-align:center;
z-index: 10;

}


.profit-arrow {
  background: #9BEC00;
  color: #0F1209;
  border-radius: 3px;
  font-weight:bold;
  font-size: 18px;
  padding: 1px;
}
.loss-arrow {
  background: #CD0070;
  color: #0F1209;
  border-radius: 3px;
  font-weight:bold;
  font-size: 18px;
  padding: 1px;
}

@media not all and (min-width: 768px) {
  .desktop-view {
    /* display: none; */
  }
  .dash-sidebar {
    /* display: none; */
  }
  .display-block {
    display: block;
  }
  .display-none {
    display: none;
  }
  .header-collapse-menu {
    display: block;
    color: #84cc18;
  }

  .header-arro-collapse {
    display: none;
  }
  .header-search {
    /* display: none; */
  }
  .dash-header {
    display: flex;
    justify-content: space-between;
  }

  .dash-item-wrap {
    flex-direction: row;
  width: 100%;

}

.dash-item {
  cursor: pointer;
  flex-direction: column;
  font-size: 12px;
  flex-grow: 1;
  margin-top: 15px;
  gap: 2px;
}
.dash-item i{
 font-size: 24px;
}

.dash-item.Live {
  display:none;
}
.dash-item.Code {
  display:none;
}
.dash-item.Learn {
  display:none;
}
.dash-sidebar nav {
  margin: 0;
  width: 100%;
}

.dash-sidebar-content {
  overflow-x: auto;
  height: 100%;
  padding: 0;
  padding-bottom: 10px;
}
.side-profile {
  display:none;
}

.dash-sidebar {
  bottom: 0px;
  z-index: 100;
  border-top: 1px solid;
}

.header-credit {
  display:none;
}

.header-search {
  margin: 0;
  padding: 0;
  min-width: 150px;
  width: 100%;
  margin-right: 15px;
}

}
