@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --theme-color: #9bec00;
  --danger-color: #be185d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f7faf5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
:root {
  --swiper-theme-color: #9bec00 !important;
}

.swiper-pagination-bullet {
  background: #a2ab9a;
  opacity: 0.5;
  gap: 15px;
}

.swiper-pagination-bullet-active {
  background: #9bec00 !important;
}

.swiper-button-prev,
.swiper-button-next {
  border: 1px solid #666;
  color: #a2ab9a;
  --swiper-navigation-size: 18px;
  padding: 15px;
  border-radius: 4px;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  top: 90% !important;
  z-index: 100;
}

.mySwiper .swiper-button-prev {
  left: 40% !important;
}
.mySwiper .swiper-button-next {
  right: 40% !important;
}

.mySwiper .swiper-wrapper {
  padding-bottom: 60px;
}

.dash-sidebar {
  position: fixed;
  left: 0;
}

.dash-sidebar.collapsed {
}
.dash-sidebar.collapsed nav {
  margin: 0;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}

.main-container {
  width: 80%;
  margin-left: auto;
  padding: 15px 30px;
}

.dash-sidebar-content {
  overflow-x: auto;
  height: 100vh;
}

.dash-item-active {
  color: var(--theme-color);
  position: relative;
}
.dash-item-active:before {
  content: "";
  width: 0.25rem;
  height: 2.5rem;
  background: var(--theme-color);
  position: absolute;
  left: -28px;
}

.dash-item {
  cursor: pointer;
}

.main-body {
  margin-top: 65px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #84cc16;
}

/* Tailwind custom styles or your global CSS */
.main-body {
  display: flex;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main-container {
  width: calc(100% - 85px); /* Adjust this based on collapsed sidebar width */
  margin-left: auto;
  padding: 15px 30px;
}

.sidebar-expanded + .main-container {
  width: calc(100% - 20%); /* Adjust this based on the expanded sidebar width */
}

/* Optionally, add styles for collapsed sidebar */
.sidebar-collapsed + .main-container {
  width: calc(
    100% - 85px
  ); /* Adjust this to match your collapsed sidebar width */
}

.header-collapse-menu {
  display: none;
}

.dash-sidebar {
  display: block;
}
.mobile-view {
  display: none;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}


.stop-label {
background: #FDE900;
border-radius: 4px;
padding: 20px;
height: 60px;
display: flex;
align-items: center;
justify: center;
width: 140px;
position: absolute;
left: 0;
right:0;
top:0;
bottom:0;
margin:auto;
text-align:center;
z-index: 10;

}


.navigator-icon {
  font-size: 24px;
  margin-right:5px;
}

.navigator-item {
  border-left: 1px solid #D3DEC8;
  margin-left: 20px;
}

.navigator .cursor-pointer:hover .icon-arrow-square-down{
  color:#000;
}

.monitor-card {
  /* border: 1px solid #ddd; */
  border-radius: 4px;
}



.profit-arrow {
  background: #9BEC00;
  color: #0F1209;
  border-radius: 3px;
  font-weight:bold;
  font-size: 18px;
  padding: 1px;
}
.loss-arrow {
  background: #CD0070;
  color: #0F1209;
  border-radius: 3px;
  font-weight:bold;
  font-size: 18px;
  padding: 1px;
}
.use-mobile {
  display:none;
}
.mySwiper .swiper-slide  {
  width: 100% !important;
}




.swiper {
  width: 100%;
  height: 100%;
}



.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.mySwiper2 .swiper-wrapper {
  padding-top: 30px;
  padding-bottom:30px;
}

.mySwiper .swiper-wrapper  {
  padding-bottom:10px;

}



.btn {
  position: relative;
  display: inline-block;
  padding: 8px 16px; /* Equivalent to py-3.5 and px-7 */
  background-color: var(--theme-color);
  border-radius: 4px;
  color: #3c3c3c; /* Darker color for text */
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  overflow: hidden;
  border: 1px solid #7dbd02;
  font-weight:normal
}

.btn.btn-danger {
  background: var(--danger-color);
  border-color: var(--danger-color);
  
  color:#fff;
}
.btn.btn-danger::before, 
.btn.btn-danger::after {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #a10b49); /* Lime border color */
}

.btn.btn-danger-outline::before, 
.btn.btn-danger-outline::after {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #a10b49); /* Lime border color */
}


.btn-danger-outline {
  background:none;
  border-color:var(--danger-color);
  color:var(--danger-color);
  
}


.btn-danger-outline:hover {
  background:var(--danger-color);
}

.btn.btn-danger-outline:hover {
  background:none;
  color:var(--danger-color);
  border-color:var(--danger-color);

}


.btn::before, 
.btn::after {
  content: '';
  position: absolute;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #7dbd02); /* Lime border color */
  transition: all 0.5s ease;
}

.btn::before {
  height: 3px;
  width: 200px;
  top: 0;
  left: -200px;
  /* animation: slide-right 2s linear infinite 1s; */
}

.btn::after {
  height: 3px;
  width: 200px;
  bottom: 0;
  right: -200px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #7dbd02); /* Lime border color */
 
}


.btn:hover {
  transform: rotate(-1deg) scale(1.03);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover::before,
.btn:hover::after {
  /* animation-play-state: paused; */
  /* border-color:red; */
   animation: slide-left 2s linear infinite;
}

.btn:hover::before {
  animation: slide-right 2s linear infinite;
}


.btn:hover {
  background:none;
  color:var(--theme-color)

}

.btn.btn-danger:hover {
  background:none;
  color:var(--danger-color);
  border-color:var(--danger-color);

}

.btn.btn-outline {
  background:none;
  color:#262626;
  border-color:#262626;

}

.btn.btn-outline:hover {
  background:#262626;
  color:#fff;

}

.btn-outline::before, 
.btn-outline::after {
  content: '';
  position: absolute;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #262626); /* Lime border color */
  transition: all 0.5s ease;
}

.bor-filter {
  border-bottom: 1px solid #242620;
}
.bor-filter button {
  padding-bottom: 7px;
}

@keyframes slide-right {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}

@keyframes slide-left {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}

.custom-bullet {
  background-color: black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.5;
}

.custom-bullet-active {
  opacity: 1;
}

.sp-wrapper {
  width: 200px;
  margin:auto;
}

.dash-icons {
  width: 100%;
   
    justify-content: center;
    border-bottom: 1px solid #ddd;
    margin-bottom:30px;
}

.mySwipertraders {
  padding-bottom:40px !important;
}

.card {
 
  padding: 1.25rem 1rem; 
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
 
}


















@media not all and (min-width: 768px) {

  .dash-icons {
    justify-content: start;

  }
  .desktop-view {
    /* display: none; */
  }
  .dash-sidebar {
    /* display: none; */
  }
  .display-block {
    display: block;
  }
  .display-none {
    display: none;
  }
  .header-collapse-menu {
    display: block;
    color: #84cc18;
  }

  .header-arro-collapse {
    display: none;
  }
  .header-search {
    /* display: none; */
  }
  .dash-header {
    display: flex;
    justify-content: space-between;
  }

  .dash-item-wrap {
    flex-direction: row;
  width: 100%;

}

.dash-item {
  cursor: pointer;
  flex-direction: column;
  font-size: 12px;
  flex-grow: 1;
  margin-top: 15px;
  gap: 2px;
}
.dash-item i{
 font-size: 24px;
}
.dash-sidebar nav {
  margin: 0;
  width: 100%;
}

.dash-sidebar-content {
  overflow-x: auto;
  height: 100%;
  padding: 0;
  padding-bottom: 10px;
}
.side-profile {
  display:none;
}

.dash-sidebar {
  bottom: 0px;
  z-index: 100;
  border-top: 1px solid;
}

.header-credit {
  display:none;
}

.header-search {
  margin: 0;
  padding: 0;
  min-width: 150px;
  width: 100%;
  margin-right: 15px;
}

.use-mobile {
  display:block;
}

.sidebar-expanded + .main-container {
  width: 100%;
}

.dash-icons {
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-y: auto;
  gap:1px;
}

.dash-icons-item {
  flex-direction: row;
  gap: 5px;
  padding: 2px 10px;
  padding-top: 5px;
}


.dash-icons-item {
  flex-direction: row;
    gap: 5px;
}
.dash-icons-item .text-neutral-800 {
  color: #A2AB9A;

}

.main-container {
  width: 100%;
  padding: 15px 15px;
  background: #242620;

}
.onb1 {
  flex-direction:column;
}
.onb1 h1 {
  font-size:24px;
}

.dash-icons .d-icon {
  display:none;
}

.dash-icons-item {
  background:none;
}

.pnlcrnt {
  flex-direction: column;
  margin-top:10px;
}
.pntitle {
  display:none;
}

.clp-side {
  width: 100%;
}

.lpd {
  padding:20px;
}

.header-search input {
  border-top:none;
  border-left:none;
  border-right:none;
  border-radius:0;
  background:none;
}

.header-search .pl-3 {
  padding-left: 0;
}

.stia {
  flex-direction:column;
  min-width: auto;
}
.hidden-xs {
  display:none;
}

.st-wrap {
  gap:5px;
}
.st-wrap .gap-20 {
  gap: 10px;
}

.st-top {
  gap:5px;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background:#fff !important;
}

.card {
  background: #181916;
  color:#fff;
} 
.card *:not(input) {
  color:#fff;
}

.card .text-neutral-500 {
  color: #A2AB9A;

}
.card input {
  color: #333 !important;
}
.m-white {
  color:#fff;
} 

.mobile-fill {
  background-color: var(--theme-color) !important;
  color: #3c3c3c;

  border: 1px solid #7dbd02;

}

.card .border-neutral-800, .card .btn-outline {
  border-color:#fff;
  color:#fff;
}

.f-scroll {
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-y: auto;
  gap: 1px;
}

.dash-icons {
  margin-bottom: 15px;
}

.is-fav {
  color:#fff;
}

.card .heart-empty {
    filter: invert(1);
    margin-left: 8px;
}

.btn {
  padding: 6px 12px;
}
.dash-item-wrap {

}

.dash-item-wrap a {
  flex-grow: 1;
  width: 50px;
}

.strat-row {
  flex-direction:column;
}

.trader-card2 {
  color:#fff;
  width:100%;
}
.trader-card2 .text-neutral-500 {
  color: #A2AB9A;

  
}

.trader-card2 .text-stone-950 {
  color:#f7f7f7;
}
.trader-card2 .text-zinc-800 {
  color:#f7f7f7;
}

.trader-card2 .text-zinc-900 {
  color:#f7f7f7;
}
.back-link {
  color:#f7f7f7;

}



.h-id {
  display:none;
}


.PerformanceCard {
  padding: 1.25rem;
  background:none;
  border-top: 1.5px dashed #bfbfbf;
  border-radius:0;
}

.PerformanceCard .text-neutral-500 {
  color:#A2AB9A;
}
.PerformanceCard .text-black {
  color:#f7f7f7;
}

.PerformanceCard .text-stone-950 {
  color:#f7f7f7;
}





.per-header {
  border:none;
}

.roi-copy {
  flex-direction: column;
}

.btn.btn-outline {
  background: none;
  color: #fff;
  border-color: #f7f7f7;
}

.per-act {
  flex-direction: row;
  width: 100%;
  gap:15px;
}
.per-act .btn {
  width: 100%;
  height: 50px;
}

.pstable {
  background: #242620;
  padding:10px 0;
}
.card-table p {
  display:flex;
  justify-content: space-between;
}
.card-table {
  padding-bottom: 19px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-color: #6c6f67;
}
.tb-tab-active {
  color: var(--theme-color);
}
.tb-tab {
  background:none;
}

.tb-tab ul {
  gap: 2px;
  padding: 0;
  overflow-x: auto;
  padding-bottom: 0px;
}


.tb-tab ul li {
  white-space: nowrap;
}

.stra-copy {
  background:none;
}

#copyAmountSection {
  flex-direction: column;
}
#copyAmountSection .flex-col {
  width: 100%;
}
.stra-copy .text-zinc-800 {
  color: #f7f7f7;
}
#tourConfirmButton {
  width: 76%;
    margin-top: 25px;
}

.PerformanceCard input {
  color:#333 !important;
}

.check-popup {
  border: 1px solid #ffff;
  width: 92%;
}
.check-label {
  font-size: 12px;
  font-weight:normal;
  gap: 1px;
}
.check-label img {
  width: 16px;
}
.login-sec {
  padding: 10px;
}
.login-header {
  position: static;
}

.profile-tab {
  background:none;
  padding:0;
}

.profile-tab .text-neutral-800 {
  color:#A2AB9A;;
}
.profile-tab span {
  display:none;
}

.p-tab-list {
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: start;
  overflow-x: auto;
}

.p-label {
  position: absolute;
  right: 5px;
  padding: 2px;
  background: none;
  top: 0;
  font-size: 12px;
}
.card select {
  color:#333;
}

.Live, .Code, .Learn {
  display:none;
}
}
